.button{
    background-color: green;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 23px;
}
div{
    text-align: center;
}
body {
    background-image: url('background.jpg'); /* Replace 'background.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
